__pycache__ 
trafficSimulator\__pycache__
literature
*.hidden
*__pycache__
*.iml
.idea
*.emergency
/doc/outline.pdf
/doc/images/simple_nearestneighbor.png
/scratchpad.py
/doc/todo.txt
/doc/images/traffic-light-icon.svg
/models
