Both in appearance and content, the thesis must be worthy of its importance. For up-to-date suggestions for latex templates for thesis and diploma work by Mr Máté Cserép please study: https://github.com/mcserep/elteikthesis 
Formal requirements: Sheet: A4 size, 
color white 
Font size: 12 
points Lines: non-line alignment, 
1.5 line spacing 
Margin: - inside: 3.5 cm - outside: 2.5 cm - bottom: 2.5 cm - top: 2.5 cm 
Scope: min. 50 pages 
Page numbering: pagination must be done continuously from the table of contents to the bibliography. It is marked with Arabic numbers (the page numbers of the pages of the table of contents are not usually indicated). The main chapters of the thesis (level 1 headings) should start on a new page. 
The thesis is the student's independent work, in which the standard rules for references and citations must be observed. Structure of the thesis: Inner cover contents An introduction containing information on the degree of completion of the task set out on the Diploma Thesis topic application form. 
The main parts of the thesis should be independent chapters of the thesis. 
Bibliography (if the topic requires it): The thesis must include references to the source works that the student used during the solution. The form of citing books is as follows: [<reference identifier>] <author name>: <book title>, <publisher name>, <year of publication>, [<volume>], <ISBN number>. For example: [2] Jan Sommerville: Software Engineering, Addison Wesley, 1988, [742], ISBN-0201- 42765-6. The form of citing a journal article is as follows: [<reference identifier>] <author name>: <article title>, <journal title>, <Vol. number>, <year>, [extent]. In the case of a source work available online, the access date will be given after entering the "link"! Appendices
